.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  background-color: white;
  height: 300px;
  display: flex;
  /* position: relative; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 50px;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
}
.left-container{
  flex: 0 1 30%;
  padding: 0.5em;
  border: 2px solid red;

}

.right-container{
  flex: 0 1 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}
 .top {
  flex: 0 0 30%;
            /* min-height: 50%; */
            max-width: 100%;
  border: 1px solid red;
  /* align-items:flex-end; */
  text-align: center;

}

.bottom {
  font-size: small;
  align-items: center;
}

html {
  background-color: radial-gradient(brown beige)
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
